@font-face {
    font-family: AR-BONNIE;
    src: url(ARBONNIE.ttf);
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(17, 10, 109);
    background: #FFFFFF
}
header {
    width: 100%;
    padding: 20px;
    border: 2px solid #FFFFFF;
    margin-right: 10%;
    display: flex;
    font-family: AR-BONNIE, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blue;
  
}
.title {
    width: 11em;
    align-content: center;
    font-family: AR-BONNIE, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.content {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-item {
    
    order: 1;
    align-content: center;
    margin-left: 10%;
    width: 190px;
    color: #F3F0F0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.flex-title {
    border: 2px solid wheat;
}
.barre_haut {
    position: fixed;
}
.picture {
    width: 100%;
}
.picturelogo {
    width: 2%
}
#myButton{
    transition: transform 1s;
}
.rotate{
    transform: rotate(90deg);

}
.mySlides{
    width: 300px;
    height: 150px;
}
.container{
    display: flex;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.separation{
	clear: both;
	position:relative;
	margin-top :10px;
	margin-left: 250px;
	height: 200px;
	width : 5px;
	background: black;
	}
.company{
	font-style: oblique;
	font-size: medium;
	

}
.imgbutton{
	width: 80px;
}
.spotify{
    width:100%;
    height:100px;
    
}
